table {
    border: 10px black;
    background-color: seagreen;
    color: white; /* betüszín */
    font-family: 'Courier New', Courier, monospace; /* betűtípus */
    font-size: 30px; /* betűméret */
    
}  

td {
    background-color: hsl(118, 82%, 24%);
}

#keses {
    background-color: darkred;

}

.elso_oszlop{
    background-color: rgba(23, 25, 117, 0.521);
}
